<div class="system-table">
  <div class="toolbar">
    <div>
      @if (previousButton) {
      <p-button
        severity="secondary"
        variant="text"
        [label]="previousButton"
        icon="pi pi-arrow-left"
        iconPos="left"
        (onClick)="switchTo(previousButton)"
      />
      }
    </div>

    <div class="flex items-center justify-center">
      <label class="text-2xl font-bold">{{ buttonDir }}</label>
    </div>

    <div class="flex justify-end">
      @if (nextButton) {
      <p-button
        severity="secondary"
        variant="text"
        [label]="nextButton"
        icon="pi pi-arrow-right"
        iconPos="right"
        (onClick)="switchTo(nextButton)"
      />
      }
    </div>
  </div>

  <p-divider />

  <div class="content">
    <!-- Left -->
    <p-panel class="system-panel" styleClass="h-full" header="Sub systems" con>
      @if (componentStore.systems().length > 0) {
      <div class="grid grid-cols-1 gap-4 p-4">
        @for (item of componentStore.systems(); track $index) {

        <div
          class="system-item"
          [ngClass]="{
            active: componentStore.selectedSystem() === item
          }"
          (click)="selectSystem(item)"
        >
          <label>{{ item }}</label>
          <i class="pi pi-angle-right"></i>
        </div>

        }
      </div>
      } @else {
      <div class="flex items-center justify-center h-full">Empty</div>
      }
    </p-panel>

    <!-- Right -->
    <p-panel
      class="system-panel h-full overflow-hidden"
      styleClass="h-full"
      header="Symptoms"
    >
      @if (componentStore.symptom().length > 0) {

      <div class="grid grid-cols-1 gap-4 p-4">
        @for (item of componentStore.symptom(); track $index) {

        <div class="system-item" (click)="selectSymptom(item)">
          <label>{{ item }}</label>
          <i class="pi pi-angle-right"></i>
        </div>

        }
      </div>

      } @else { @if (componentStore.selectedSystem()) {

      <div class="flex items-center justify-center h-full">Empty</div>

      } @else {

      <div class="flex items-center justify-center h-full">
        Please select a system
      </div>
      } }
    </p-panel>
  </div>
</div>
