@use "../../styles/index" as theme;

:host ::ng-deep .dwdm {
  @apply flex relative w-full overflow-hidden;
  height: calc(100vh - theme.$header);

  .stencil {
    @apply h-full absolute top-0 left-0;
    width: theme.$stencil;
  }

  .paper {
    @apply flex-1 h-full absolute;
    width: calc(100% - theme.$stencil - theme.$inspector);
    left: theme.$stencil;
    right: theme.$inspector;

    .toolbar {
      @apply absolute top-4 right-10 z-50;

      .joint-toolbar {
        @apply p-2;
      }
    }

    .navigator {
      @apply absolute right-10 bottom-10 z-50;

      .joint-navigator {
        @apply border-none;
      }
    }
  }

  .inspector {
    @apply absolute top-0 right-0 h-full;
    width: theme.$inspector;
  }
}
